<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Postagens</title>
        <meta charset="UTF-8"/>

        <!-- css do bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

    </head>


    <body>
        <!-- o ${posts} eh o criado dentro do controle ja o post eh criado do nada -->
        <!--   <div th:each="post : ${posts}">
               
               <div class="divPostagemMensagem">
                                          <p>
                                                   <span th:text="${post.texto}"></span>
                                                   <br/>
                                                   
                                           </p>
                                   </div>
               
           </div> -->
        <header>

            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1" style="font-weight: bold;" >BlogSpring</span>
                <a href="newpost" class="btn btn-primary" role="button">Novo Post</a>
            </nav>
        </header>


        <section>

            <div class="container" style="width: 60%; padding-bottom: 30px;">

                <nav arial-label="breadcrumb">

                    <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">

                        <li class="breadcrumb-item active" aria-current="page">Posts</li>   


                    </ol>   

                </nav>

                <!-- o ${posts} eh o criado dentro do controle ja o post eh criado do nada -->
                <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post: ${posts}">

                    <div class="card-body">

                        <!-- autor e data -->
                        <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">

                            <span th:text="${post.autor}"></span>
                            <span th:text="${post.data}"></span>

                        </p> 
                        <!-- titulo com link -->
                        <!-- href para redirecionar para a pagina de post unico  -->
                        <a th:href="${(#mvc.url('BC#getPostDetails').arg(0, post.id)).build()}">
                            <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
                                <span th:text="${post.titulo}"></span>
                            </h4>
                        </a>

                        <!-- mostra os primeiros 400 caracteres do texto -->
                        <p class="card-text">
                            <!-- mostra os primeiros 400 caracteres do texto -->
                         <span th:utext="${#strings.abbreviate(post.texto,400)}"></span>   
                            
                        </p>

                    </div>  


                </div>    


            </div>  


        </section> 



    </body>
</html>
